#content {
    background-image: url("restaurant.jpg");
    height:  1000px;
    width: 100%;
    color: aliceblue;
}

#header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.header-btn {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

#menu-content {
    width: 80%;
    margin: auto;
    padding-top: 10%;
}

#menu-content > h1 {
    font-weight: bolder;
}

.price {
    float: right;
}